.pokecard {
  background-color: powderblue;
  text-align: center;
  list-style-type: none;
  width: 50px;
  border: 5px solid blue;
  padding: 10px;
  margin: 10px;
  color: black;
  width: 250px;
  align-content: center;
  display: inline-block;
}

#spinner {
  align-content: center;
  text-align: center;
  animation: spin 1s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
